.col {
    -fx-font-size: 30pt;
    /*-fx-background-color: indigo;*/
    /*-fx-font-weight: bold;*/
}
.col-center{ 
    -fx-font-size: 30pt;
    -fx-text-fill: white;
    /*-fx-background-color: indigo;*/  
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: -fx-table-cell-border-color, indigo;
}
.table-view .column-header,
.table-view .filler,
.table-view > .column-header-background > .show-hide-columns-button,
.table-view:constrained-resize .filler {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    /*-fx-font-weight: bold;*/
    -fx-size: 1em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-padding: 0em;
}

.table-row-cell {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-table-cell-border-color, indigo;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
    -fx-text-fill: -fx-text-background-color;
}
