/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.workunit {
    -fx-font-weight: bolder;
    -fx-font-size: 32px;
    -fx-border-color: black;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
    -fx-background-color: dimgray;
    -fx-text-fill: white;
}

.counter {
    -fx-border-color: black;
    -fx-border-width: 0 0 0 1;
    -fx-border-style: solid;
}

.counter-last {
    -fx-border-color: black;
    -fx-border-width: 0 1 0 1;
    -fx-border-style: solid;
}

.counter-unused {
    -fx-font-weight: bolder;
    -fx-font-size: 24px;
    -fx-text-fill: lightgray;
}

.counter-used {
    -fx-font-weight: bolder;
    -fx-font-size: 24px;
    -fx-text-fill: green;    
}

.counter-error {
    -fx-font-weight: bolder;
    -fx-font-size: 24px;
    -fx-text-fill: red;
}
